/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */ 
fieldset#search{ 
    background: #F1F1F1; 
    border:0 none; 
    width: 100%; 
    border-bottom: 1px solid #CCC; 
} 
.inline{ 
    display:flex; 
} 
.left{ 
    display:flex; 
    float:left; 
    margin-right: 133px; 
} 
.right{ 
    display:flex; 
    float: left; 
} 
#search #buttonBar .firstRight{ 
    width:auto; 
    float:right; 
    margin-left:2px; 
    text-align:left; 
} 
#search #buttonBar .nextRight{ 
    width:auto; 
    float:right; 
    margin-right:20px; 
    text-align:left; 
} 
html, body { height: 100%; } 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
